<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    {% include 'components/_seo.njk' %}
    <link rel="stylesheet" href="{{ stylesheet | url }}">
  </head>
  <body>
    {% include 'components/_header.njk' %}
    {{ content | safe }}
  </body>
</html>
