---
layout: layouts/base.njk
stylesheet: '/assets/css/index.css'
---

<main>
  {% include "components/_banner.njk" %}
  <article class="container mx-auto px-4 py-8 md:py-20 max-w-6xl space-y-6">
    {{ content | safe }}
  </article>
</main>
