---
layout: layouts/post.njk
title: Workshop
description: This section will highlight which sessions have been completed once you have marked the session as done.
backUrl: '/'
---


<section aria-labe="Workshop Sessions" class="space-y-6">
  <h2 class="font-sans font-medium text-xl md:text-3xl mb-8">✏️ Fonts</h2>
  <a href="/walkthrough/01" class="font-sans font-semibold block p-6 rounded-lg border border-primary-light bg-primary-light">Font Loading Strategies</a>
</nav>
