<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    {% include 'components/_seo.njk' %}
    <link rel="stylesheet" href="{{ '/assets/css/01-removing-critical-chain-requests.css' | url }}">
  </head>
  <body>
    {% include 'components/_header.njk' %}
    <main>
      <section class="pt-16 pb-32 bg-primary flex md:content-center justify-center flex-col">
        <div class="container mx-auto px-4 max-w-6xl">
          <a href="{{ backUrl }}" class="inline-block border-b-2 border-transparent text-white mb-20 hover:border-b-2 hover:border-white">👈 Go Back</a>
          <h1 class="font-display text-3xl md:text-7xl text-secondary">{{ title }}</h1>
          <p class="font-sans font-light text-lg md:text-xl max-w-3xl text-white mt-6">{{ description }}</p>
        </div>
      </section>
      <article class="container mx-auto px-4 py-8 md:py-20 max-w-6xl space-y-6">
        {{ content | safe }}
      </article>
    </main>
  </body>
</html>


