 <header class="bg-primary pt-5">
  <nav class="container mx-auto px-4 max-w-6xl flex">
    <a href="/" class="font-semibold text-xl text-white font-sans hover:text-secondary transition-all">
      🚀 The Performance Kit
    </a>
  </nav>
</header>
