<div>
    <div class="flex justify-end border-t border-slate-400 border-solid mt-12">
        <button data-postId="{{ postId }}" data-mark-complete-btn data-completed="false" class="flex items-center justify-center my-12 h-14 w-9/12 block text-xl max-w-xs p-4 bg-primary text-white rounded font-semibold hover:bg-primary-hover transition-all" id="mark-complete">Mark lesson complete</button>
    </div>
</div>