{% for section in navigation.tutorials %}
  <h2 class="font-sans font-medium text-xl md:text-3xl mb-8">{{ section.title }}</h2>
  {% for link in section.items %}
    <div
      data-section
      id="{{ link.id }}"
      class="flex justify-between items-center relative font-sans font-semibold rounded-lg border border-primary-light bg-primary-light"
    >
      <a
        href="{{ link.path }}"
        class="flex justify-between items-center relative top-0 left-0 h-full w-full p-6"
      >
        {{ link.title }}
      </a>
    </div>
  {% endfor %}
{% endfor %}
