---
layout: layouts/general.njk
title: Workshop
description: This section will highlight which sessions have been completed once you have marked the session as done.
backUrl: '/'
---


<nav aria-labe="Workshop Sessions">
  <a href="/pathways/workshop/01-getting-started">🏳️ Getting Started</a>
</nav>
