<section class="container mx-auto my-10 lg:my-40 max-w-9xl flex max-lg:flex-col-reverse px-4">
  <div class="lg:w-1/2 flex-1 lg:pr-20">
    <h2 class="max-lg:mt-4 mb-4">Who is Wh0?</h2>
    <p>
      For those who are unfamiliar, Wh0 is made up of two members: Marco and Mark. They've been making music together since 2018 and have quickly risen to fame with their unique blend of house, tech-house, and techno. They've released tracks on labels such as Toolroom, Musical Freedom, and Spinnin' Records, and have garnered support from some of the biggest names in the industry, including David Guetta, Martin Garrix, and Tiësto.
    </p>
  </div>
  <picture class="lg:w-1/2 flex-1">
    <img
      src="https://images.unsplash.com/photo-1574155376612-bfa4ed8aabfd"
      alt="alt"
      class="block"
    />
  </picture>
</section>

<section class="container mx-auto my-10 lg:mb-32 max-w-9xl flex max-lg:flex-col-reverse px-4 lg:flex-row-reverse">
  <div class="lg:w-1/2 flex-1 lg:pl-20">
    <h2 class="max-lg:mt-4 mb-4">What to Expect from Wh0's Ultra Festival Set</h2>
    <p class="mb-4">If you're a fan of Wh0, you know that they never disappoint when it comes to their live performances. Their sets are known for their high energy and infectious beats that will keep you dancing all night long. At Ultra Festival, they're sure to bring their A-game with a set that will leave you breathless.</p>
    <p>Expect to hear some of their biggest hits, such as "Better Day," "You Got Me," and "House Music." But they're also known for their unreleased tracks and remixes, so you never know what surprises they might have in store for the Ultra crowd.</p>
  </div>
  <picture class="lg:w-1/2 flex-1">
    <img
      src="https://plus.unsplash.com/premium_photo-1661299366011-bb9f86212bdb"
      alt="alt"
      class="block"
    />
  </picture>
</section>
