<section class="container mx-auto my-10 lg:my-40 max-w-9xl flex max-lg:flex-col-reverse px-4">
  <div class="lg:w-1/2 flex-1 lg:pr-20">
    <h2 class="max-lg:mt-4 mb-4">Other Must-See Acts at Ultra Festival</h2>
    <p class="mb-4">While Wh0 is definitely the headliner act to watch, there are plenty of other amazing acts on the Ultra Festival lineup. Here are a few other must-see performances to check out:</p>
    <ul class="pl-4">
      <li>Armin van Buuren: This legendary DJ and producer is known for his uplifting trance and progressive house music. He's sure to bring the energy to the Ultra main stage.</li>
      <li>Carl Cox: This techno pioneer has been in the game for over 30 years and is still going strong. His sets are known for their infectious beats and non-stop energy.</li>
      <li>Charlotte de Witte: This Belgian DJ and producer is known for her dark and intense techno. Her sets are not for the faint of heart, but if you're a fan of techno, you won't want to miss her.</li>
    </ul>
  </div>
  <div class="lg:w-1/2 flex-1">
    <div class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth slides">
      <picture id="slide-one">
        <img
          src="https://images.unsplash.com/photo-1612443016610-00c5fa0ec439"
          alt="Festival one"
          class="block"
        />
      </picture>
      <picture id="slide-two">
        <img
          src="https://images.unsplash.com/photo-1506157786151-b8491531f063"
          alt="Festival two"
          class="block"
        />
      </picture>
      <picture id="slide-three">
        <img
          src="https://images.unsplash.com/photo-1619229666372-3c26c399a4cb"
          alt="Festival three"
          class="block"
        />
      </picture>
      <picture id="slide-four">
        <img
          src="https://plus.unsplash.com/premium_photo-1661299213170-6ca8f722f906"
          alt="Festival four"
          class="block"
        />
      </picture>
    </div>
    <div class="flex justify-center mt-4">
      <a class="bg-primary-light hover:bg-primary-dark active:bg-primary-dark focus:bg-primary-dark focus:outline-none rounded-full w-6 h-6 cursor-pointer block mr-2" href="#slide-one" aria-label="Slide one"></a>
      <a class="bg-primary-light hover:bg-primary-dark active:bg-primary-dark focus:bg-primary-dark focus:outline-none rounded-full w-6 h-6 cursor-pointer block mr-2" href="#slide-two" aria-label="Slide two"></a>
      <a class="bg-primary-light hover:bg-primary-dark active:bg-primary-dark focus:bg-primary-dark focus:outline-none rounded-full w-6 h-6 cursor-pointer block mr-2" href="#slide-three" aria-label="Slide three"></a>
      <a class="bg-primary-light hover:bg-primary-dark active:bg-primary-dark focus:bg-primary-dark focus:outline-none rounded-full w-6 h-6 cursor-pointer block mr-2" href="#slide-four" aria-label="Slide four"></a>
    </div>
  </div>
</section>
