<section class="relative pt-20 overflow-hidden flex flex-col justify-center">
  <div class="z-30 relative container mx-auto  max-w-9xl text-white h-full px-4 pt-8 pb-16 lg:pt-40 lg:pb-40">
    <h1 class="font-sans text-3xl md:text-5xl lg:text-7xl mb-4">
      Ultra Festival 2023<br />
      Get Ready to Party with Wh0!
    </h1>
    <p class="font-sans font-light text-lg lg:text-xl max-w-3xl mt-6">
      Are you ready for the biggest electronic dance music festival of the year? Ultra Festival 2023 is coming up, and it's going to be one for the books. The festival will take place in Miami, Florida, and will feature some of the biggest names in EDM.
    </p>
  </div>
  <div class="absolute top-0 left-0 right-0 bottom-0 z-20 opacity-50 bg-black"></div>
  <picture class="absolute top-0 left-0 right-0 bottom-0 z-10">
    <img
      src="https://images.unsplash.com/photo-1493676304819-0d7a8d026dcf"
      alt="alt"
      class="w-full object-cover"
    />
  </picture>
</section>
