---
layout: layouts/home.njk
---
<div class="container mx-auto px-4 max-w-6xl">
  <h1 class="font-display text-4xl md:text-7xl text-secondary mb-6">Performance Kit</h1>
  <p class="font-sans font-light text-lg md:text-xl max-w-3xl text-white">This collection of tutorials are based on my learnings from client projects. For each topic I will show you how to identify, implement and evaluate performance techniques that can improve your site's load time.</p>

  <p class="font-sans font-medium text-lg md:text-xl max-w-3xl text-white mt-8">How would you like to learn?</p>

  <a href="/tutorials/" class="font-sans font-medium bg-transparent text-white font-semibold hover:text-white py-3 px-6 border-2 border-white hover:border-secondary rounded mt-6 block md:inline-block transition-all md:mr-2 text-center">
    <span class="text-3xl align-sub">🧑🏻‍💻 </span>
    I want to work through it
  </a>

  <a href="/videos" class="font-sans font-medium bg-transparent text-white font-semibold hover:text-white py-3 px-6 border-2 border-white hover:border-secondary rounded mt-3  block md:inline-block  transition-all text-center">
    <span class="text-3xl align-middle">📹 </span>
    I want to watch videos
  </a>
</div>

