---
layout: layouts/home.njk
---
<div class="container mx-auto px-4 max-w-6xl">
  <h1 class="font-display text-3xl md:text-7xl text-secondary mb-3">Performance Kit</h1>
  <p class="font-sans font-light text-xl max-w-3xl">This collection of tutorials are based on my learnings from client projects. For each topic I will show you how to identify, implement and evaluate performance techniques that can improve your site's load time.</p>
</div>

