---
layout: layouts/listings.njk
title: Workshop
description: This section will highlight which sessions have been completed once you have marked the session as done.
backUrl: '/'
---

{% include "components/_navigation.njk" %}
