---
layout: exercises/04/index.njk
title: DJ Wh0 Playing at Ultra Festival
description: Using what we learnt from the previous session we are going to be looking at how we can optimise a page with common UI patterns on websites and what techniques we can apply to each pattern to improve web performance.
backUrl: '/exercises'
---

<header class="bg-transparent pt-5 z-50 absolute">
  <nav class="container mx-auto px-4 max-w-6xl flex">
    <a href="/" class="font-semibold text-xl text-white font-sans hover:text-secondary transition-all">
      🚀 The Performance Kit
    </a>
  </nav>
</header>
<main>
  {% include "components/04/_hero.njk" %}
  {% include "components/04/_block.njk" %}
  {% include "components/04/_carousel.njk" %}
  {% include "components/04/_youtube.njk" %}
</main>


