<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
   <style>
      @font-face {
        font-family: 'Rubik';
        src: url('/assets/fonts/woff2/Rubik/Rubik-Regular.woff2') format('woff2'),
            url('/assets/fonts/woff/Rubik/Rubik-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }

      html {
        font-family: 'Rubik';
        font-weight: normal
      }
    </style>
    {% include 'components/_seo.njk' %}
    <link rel="stylesheet" href="{{ '/assets/css/01-removing-critical-chain-requests.css' | url }}">
  </head>
  <body>
    {% include 'components/_header.njk' %}
    <main>
      {% include "components/_banner.njk" %}
      <article class="container mx-auto px-4 py-8 md:py-20 max-w-6xl space-y-6 rte">
        {{ content | safe }}
      </article>
    </main>
    {% include 'components/_scripts.njk' %}
  </body>
</html>


